{% extends 'base.html.twig' %}

{% block title %}Détails Facture N° {{ invoice.id }} / {{ invoice.client }} {% endblock %}

{% block body %}

    <div class="row mt-2">
        <div class="col-12">
            {% for label, messages in app.flashes(['success']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        <p>{{ message }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header h5">Facture N° {{ invoice.id }} / {{ invoice.client }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <dl class="row">
                        <dt class="col-sm-3">Statut</dt>
                        <dd class="col-sm-9">{{ invoice.status }}</dd>
                        <dt class="col-sm-3">Numéro</dt>
                        <dd class="col-sm-9">{{ invoice.id }}</dd>
                        <dt class="col-sm-3">Mise à jour</dt>
                        <dd class="col-sm-9">{{ invoice.udpatedAt | date('d/m/Y H:i') }}</dd>
                        <dt class="col-sm-3">Date</dt>
                        <dd class="col-sm-9">{{ invoice.date | date('d/m/Y') }}</dd>
                        <dt class="col-sm-3">Montant</dt>
                        <dd class="col-sm-9">{{ invoice.total }} €</dd>
                    </dl>
                </div>
{#                <div class="col-2 vstack gap-2">#}
{#                    {% if workflow_can(invoice, 'to_edit') %}#}
{#                        <a href="{{ path('app_invoice_edit',{id:invoice.id}) }}" class="btn btn-secondary">Editer</a>#}
{#                    {% endif %}#}
{#                    {% if workflow_can(invoice, 'to_send') %}#}
{#                        <a href="{{ path('app_invoice_send',{id:invoice.id}) }}" class="btn btn-secondary">Envoyer</a>#}
{#                    {% endif %}#}
{#                    {% if workflow_can(invoice, 'to_paid') %}#}
{#                        <a href="{{ path('app_invoice_paid',{id:invoice.id}) }}" class="btn btn-secondary">Réglée</a>#}
{#                    {% endif %}#}
{#                    {% if workflow_can(invoice, 'to_unpaid') %}#}
{#                        <a href="{{ path('app_invoice_unpaid',{id:invoice.id}) }}" class="btn btn-secondary">Impayée</a>#}
{#                    {% endif %}#}
{#                    {% if workflow_can(invoice, 'to_cancel') %}#}
{#                        <a href="{{ path('app_invoice_cancel',{id:invoice.id}) }}" class="btn btn-secondary">Annuler</a>#}
{#                    {% endif %}#}

{#                </div>#}

                <div class="col-2 vstack gap-2">
                    {% if workflow_can(invoice, 'to_edit') %}
                        <a href="{{ path('app_invoice_apply_workflow',{id:invoice.id,targetStatus:'to_edit'}) }}" class="btn btn-secondary">Editer</a>
                    {% endif %}
                    {% if workflow_can(invoice, 'to_send') %}
                        <a href="{{ path('app_invoice_apply_workflow',{id:invoice.id,targetStatus:'to_send'}) }}" class="btn btn-secondary">Envoyer</a>
                    {% endif %}
                    {% if workflow_can(invoice, 'to_paid') %}
                        <a href="{{ path('app_invoice_apply_workflow',{id:invoice.id,targetStatus:'to_paid'}) }}" class="btn btn-secondary">Réglée</a>
                    {% endif %}
                    {% if workflow_can(invoice, 'to_unpaid') %}
                        <a href="{{ path('app_invoice_apply_workflow',{id:invoice.id,targetStatus:'to_unpaid'}) }}" class="btn btn-secondary">Impayée</a>
                    {% endif %}
                    {% if workflow_can(invoice, 'to_cancel') %}
                        <a href="{{ path('app_invoice_apply_workflow',{id:invoice.id,targetStatus:'to_cancel'}) }}" class="btn btn-secondary">Annuler</a>
                    {% endif %}

                </div>
            </div>

        </div>
        <div class="card-footer d-flex justify-content-center">
            <a href="{{ path('app_invoice') }}" class="btn btn-danger">Retour</a>
        </div>
    </div>
{% endblock %}
